<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="RIWS"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<br></br>
	<form role="search" method="get" th:action="@{'/search/results'}">
		<apex:actionFunction action="{!setParam}" name="setParam">
			<apex:param name="keywords" value="" assignTo="${keywords}" />
			<apex:param name="selectedLoc" value="" assignTo="${selectedLoc}" />
		</apex:actionFunction>

		<div class="col-sm-12 col-sm-offset-0">
			<div class="col-sm-4 col-sm-offset-2">
				<!-- Searcher -->
				<div id="searcher_container">
					<div class="input-group stylish-input-group">
						<input id="search" type="text" class="form-control"
							name="keywords" tabindex="1" th:placeholder="Search..."
							th:value="${keywords}"
							onchange="setParam(this.value);"> <span
							class="input-group-addon">
							<button type="submit">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</div>
			</div>
			<div class="col-sm-1 col-sm-offset-0"></div>
			<div class="col-sm-2 col-sm-offset-0">
				<!-- Loc Selector -->
				<div id="loc_container">
					<div class="input-group">
						<span class="input-group-addon"><span
							th:text="Localization"></span> </span> <select class="form-control"
							tabindex="2" id="selectedLoc" name="selectedLoc"
							onchange="setParam(this.value);">
							<option th:each="loc : ${locations}" th:value="${loc}"
								th:text="${loc}"></option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</form>

	<br></br>
	<br></br>

	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title" th:text="Results"></h3>
			</div>
			<div class="panel-body">
				<table th:unless="${#lists.isEmpty(results)}"
					class="table table-striped table-hover">
					<tbody>
						<tr th:each="resultItem : ${results}">
							<div class="lib-panel">
								<div class="row box-shadow">
									<div class="col-md-12">
										<div class="lib-row lib-header">
											<a th:href="@{${resultItem.url}}"
												th:text="${resultItem.name} + ' (' + ${resultItem.duration} + ')'"></a>
											<span style="float:right;" th:text="${resultItem.location}"></span>
											<div class="lib-header-seperator"></div>
										</div>
										<div class="lib-row lib-desc">
											<span th:text="${resultItem.description}"></span>
											<p></p>
										</div>
									</div>
								</div>
							</div>
						</tr>
					</tbody>
				</table>
				<span th:if="${#lists.isEmpty(results)}">Try making a new
					search</span>
			</div>
		</div>
		<center>
			<div th:unless="${#lists.isEmpty(results)}">
				<ul class='pagination pagination-centered'>
					<li th:class="${page.firstPage}?'disabled':''"><span
						th:if='${page.firstPage}' th:text="First"></span> <a
						th:if='${not page.firstPage}'
						th:href='@{${page.url}(page=0,size=${page.size})}' th:text="First"></a></li>
					<li th:class="${page.hasPreviousPage}? '' : 'disabled'"><span
						th:if='${not page.hasPreviousPage}'>«</span> <a
						th:if='${page.hasPreviousPage}'
						th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
						title='Go to previous page'>«</a></li>
					<li th:each='item : ${page.items}'
						th:class="${item.current}? 'active' : ''"><span
						th:if='${item.current}' th:text='${item.number}'>1</span> <a
						th:if='${not item.current}'
						th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
							th:text='${item.number}'>1</span></a></li>
					<li th:class="${page.hasNextPage}? '' : 'disabled'"><span
						th:if='${not page.hasNextPage}'>»</span> <a
						th:if='${page.hasNextPage}'
						th:href='@{${page.url}(page=${page.number},size=${page.size})}'
						title='Go to next page'>»</a></li>
					<li th:class="${page.lastPage}? 'disabled' : ''"><span
						th:if='${page.lastPage}' th:text="Last"></span> <a
						th:if='${not page.lastPage}'
						th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'
						th:text="Last"></a></li>
				</ul>
			</div>
		</center>
	</div>
</body>
</html>